* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.wrapper-body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(img/main-background.jpg);
}

.player {
    max-width: 400px;
    width: 100%;
    background-color: rgb(38, 37, 36);
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
}

.player-title {
    color: #f2de2f;
    text-align: center;
    font-size: 0.7rem;
}

hr {
    width: 100%;
    height: 2px;
    background-color: #b72c27;
    border-color: #b72c27;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.song-img {
    width: 90%;
    height: 300px;
    border-radius: 0.5rem;
    background-image: url(img/next-semestr-img.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.artist-name,
.song-name {
    color: #f2de2f;
}

.artist-name {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

.song-name {
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}

.progress-container {
    width: 100%;
}

.progress-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-bar-range {
    width: 90%;
    height: 0.5rem;
    appearance: none;
    outline: none;
    overflow: hidden;
    background: #f2de2f;
    border-radius: 10px;
    border: 1px solid #f2de2f;
    box-shadow: 0 0 5px #f2de2f;
}

.progress-bar-range::-webkit-slider-thumb {
    height: 0.5rem;
    width: 0.9rem;
    background: rgb(45, 45, 45);
    appearance: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: -200px 0 0 185px rgb(104, 92, 17);
    border: 0;
}

.progress-bar-range::-moz-range-thumb {
    height: 0.7rem;
    width: 1.2rem;
    background: #f2de2f;
    appearance: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: -200px 0 0 185px rgb(104, 92, 17);
    border: 0;
}

.progress-bar-time {
    width: 85%;
    margin-top: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.progress-bar-time > div {
    font-size: 0.5rem;
    font-style: italic;
    color: #f2de2f;
}

.buttons-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.prew-btn {
    width: 50px;
    height: 50px;
    background-image: url(img/prew-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.prew-btn:hover {
    background-image: url(img/prew-button-hover.png);
    transform: scale(1.04);
}

.play-btn {
    width: 70px;
    height: 70px;
    background-image: url(img/play-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.play-btn:hover {
    background-image: url(img/play-button-hover.png);
    transform: scale(1.04);
}

.play-btn.pause {
    background-image: url(img/pause-button.png);
    transition: all ease-in-out 0.3s;
}

.play-btn.pause:hover {
    background-image: url(img/pause-button-hover.png);
    transform: scale(1.04);
}

.next-btn {
    width: 50px;
    height: 50px;
    background-image: url(img/next-button.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}

.next-btn:hover {
    background-image: url(img/next-button-hover.png);
    transform: scale(1.04);
}

footer {
    width: 100%;
}

a {
    cursor: pointer;
    color: #f2de2f;
    font-size: 0.6rem;
    letter-spacing: 1.5px;
    text-decoration: none;
}

.container-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-footer > p {
    color: #f2de2f;
    font-size: 0.8rem;
    letter-spacing: 1.5px;
}

.rs-school-logo {
    width: 2.1rem;
}

